.entire-input-pequeno {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.label-input-pequeno {
  margin-bottom: 5px;
  font-size: 1.2rem;
  font-weight: 400;
}

.input-pequeno {
  width: 25rem;
  height: 3rem;
  border: 2px solid #000000;
  border-radius: 11px;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .input-pequeno {
    width: 30rem;
  }
}

@media only screen and (min-width: 425px) and (max-width: 767px) {
  .input-pequeno {
    width: 22.5rem;
  }
}

@media only screen and (max-width: 425px) {
  .input-pequeno {
    width: 80vw;
  }
}
