.entire-page-registrarVenda {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-registrarVenda {
    margin: 5% 0;
}

.body-registrarVenda {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.caixa-central-registrarVenda {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
}

.form-registrarVenda {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}