.entire-page-cadastroAdm {
    display: flex;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.header-cadastroAdm {
    margin: 1rem 2rem 0rem 2rem;
}

.body-cadastroAdm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
}
